body {
  margin:0;
  padding: 0;
  background: #d3d4d6;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

header {
  background: url('../img/header.jpg');
  padding-top: 20px;
}

header section {
  width:1018px;
  margin:0 auto;
}

#logo {
  width:320px;
  float:left;
}

header p {
  color:white;
  width:300px;
  float:right;
}

nav {
  display: block;
  width:100%;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  display:block;
}

ul li a {
  color:white;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
  background:#026bbc;
  float:left;
  margin-top: 20px;
  padding: 20px 51px;
}

#content {
  background: white;
  width:950px;
  margin: 0 auto;
  padding:30px;
}

#slide {
  position: relative;
}

#slide h1 {
  position: absolute;
  top:100px;
  right:0;
  background:rgba(0,0,0,.5);
  color:white;
  font-size: 300%;
  padding: 30px;
  width:50%;
  text-align: right;
  font-weight: normal;
}